<?xml version="1.0"?>
<!--urn:magento:framework:Acl/etc/acl.xsd-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="admin_system_config_changed_section_newsletter_go">
        <observer name="register_magento_integration" instance="Newsletter2Go\Export\Model\Observer\RegisterIntegration"/>
    </event>
</config>